:root{
    --primary-color: #000000;
    --primary-background-color: #d4d7dc ;
    --primary-border-color: #a69191;

    --secondary-color: #3c3c3c;
    --secondary-background-color: red;
    --secondary-border-color: #5899f4;

    --tirtiary-color: #2d2d2d;
    --tirtiary-background-color: #862f23;
    --tirtiary-border-color: #4478e0;
}


html {
    min-height: 100%;
}

body{
    background: linear-gradient(0deg, var(--tirtiary-background-color) 90%, var(--secondary-background-color));
    height: 100%;
    background-repeat: no-repeat;
}

.container{
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    border: 2px solid var(--primary-border-color);
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border-radius: 10px;
    padding: 30px;
}
